<div class="banner">
    <div>
        <img src="../../../assets/images/logos/argentina_programa.png" id="logo">
    </div>
    <div class="redes-sociales">
        <a href="https://github.com/barbarabarriosfulquet"><img src="../../../assets/images/logos/github.png" alt="" id="github"></a>
        <a href="https://www.linkedin.com/in/barbarabarriosfulquet/"><img src="../../../assets/images/logos/linkedin.png" alt="" id="linkedin"></a>
    </div>
</div>

<div class="position-relative">
    <div class="row">
        <div class="col-2">
            <img src="../../../assets/images/profile.png" id="profile">
        </div>
        <div class="col-8">
            <h1 id="name">{{person.name}} {{person.lastname}}</h1>
            <h2>Full Stack Developer Jr.</h2>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="login()">INGRESAR</button>
        </div>
    </div>
</div>