<div class="container-fluid">
    <div class="row">
        <h1>HARD & SOFT SKILLS</h1>
        <hr class="custom-divider">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <circle-progress
                [percent]="70"
                [radius]="55"
                [showUnits]="false"
                [title]="'HTML'"
                [titleFontSize]= "'14'"
                [showSubtitle]="false"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#EBC9BB'"
                [innerStrokeColor]="'#CBDDD1'"
                [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
    </div>
</div>