<div class="container-fluid">
    <div class="row">
        <h1>ACERCA DE MÍ</h1>
        <hr class="custom-divider">
        <div class="col-12">
            <span>
                <p>Luego de más de 15 años sumergida en el mundo financiero, trabajando en grandes compañías
                    multinacionales, y con la firme convicción de que siempre hay oportunidades para reinventarse,
                    descubrí mi verdadera vocación en el Desarrollo Web.

                    Me considero una persona proactiva, resolutiva y analítica, con la capacidad de comunicarme de
                    manera clara y efectiva. Estas habilidades me permiten resolver conflictos, mejorando así la
                    productividad y el ambiente laboral. Además, mi disposición para aprender y adaptarme me impulsa a
                    enfrentar desafíos con entusiasmo y determinación, siempre en busca de nuevas oportunidades de
                    crecimiento.

                    Estoy emocionada por seguir explorando este nuevo camino y combinar mi experiencia laboral con mi
                    pasión por el desarrollo web.</p>
            </span>
        </div>
    </div>
</div>