.row {
    padding: 10px;
    background-color: #fff3ef;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

.custom-divider {
    border-top: 1px solid #dd7e62;
}

p {
    text-align: justify;
    font-size: 14px;
    margin: 5px;
}