.gradient-custom {
    /* fallback for old browsers */
    background: #FFFDF6;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #CBDDD1, #EBC9BB);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #CBDDD1, #EBC9BB)
}