<div class="container" *ngIf="editExperience">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nameExperience">NOMBRE DE LA EMPRESA</label>
                    <input type="text" class="form-control" id="nameExperience" name="nameExperience"
                        [(ngModel)]="editExperience.nameExperience" required>
                </div>
                <div class="form-group">
                    <label for="titleExperience">TÍTULO POSICIÓN</label>
                    <input type="text" class="form-control" id="titleExperience" name="titleExperience"
                        [(ngModel)]="editExperience.titleExperience" required>
                </div>
                <div class="form-group">
                    <label for="yearExperience">PERÍODO</label>
                    <input type="text" class="form-control" id="yearExperience" name="yearExperience"
                        [(ngModel)]="editExperience.yearExperience" required>
                </div>
                <div class="form-group">
                    <label for="countryExperience">PAÍS</label>
                    <input type="text" class="form-control" id="countryExperience" name="countryExperience"
                        [(ngModel)]="editExperience.countryExperience" required>
                </div>
                <div class="form-group">
                    <label for="descriptionExperience">DESCRIPCIÓN DE TAREAS</label>
                    <input type="text" class="form-control" id="descriptionExperience" name="descriptionExperience"
                        [(ngModel)]="editExperience.descriptionExperience" required>
                </div>
                <button class="btn btn-outline-secondary btn-sm">
                    ACTUALIZAR
                </button>
            </form>
        </div>
    </div>
</div>