<div class="container-fluid">
  <div class="row">
    <div *ngIf="!isLogged" class="col-lg-12">
      <h1 class="text-center">EXPERIENCIA LABORAL</h1>
    </div>
    <div *ngIf="isLogged" class="col-lg-11">
      <h1 class="text-center">EXPERIENCIA LABORAL</h1>
    </div>
    <div *ngIf="isLogged" class="col-lg-1 d-flex align-items-center justify-content-end">
      <button type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
        class="btn btn-outline-secondary btn-sm" routerLink="/newExperience" *ngIf="isLogged">
        <i class="bi bi-plus-square"></i>
      </button>
    </div>
    <hr class="custom-divider">
    <div class="col-12">
      <table class="table">
        <tbody>
          <tr *ngFor="let Experience of experience">
            <td class="col-2">
              <h2>{{Experience.nameExperience}}</h2>
            </td>
            <td class="col-1">
              <h3>{{Experience.yearExperience}}</h3>
            </td>
            <td class="col-2">
              <h3>{{Experience.countryExperience}}</h3>
            </td>
            <td class="col-2">
              <h3>{{Experience.titleExperience}}</h3>
            </td>
            <td class="col-5">
              <h3>{{Experience.descriptionExperience}}</h3>
            </td>
            <td class="col-auto custom-td" *ngIf="isLogged">
              <div class="d-flex align-items-center justify-content-end">
                <button class="btn btn-outline-secondary btn-sm"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  routerLink="/editExperience/{{Experience.id}}">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-outline-secondary btn-sm"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; margin-left: 5px;"
                  (click)="delete(Experience.id)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>