<div class="container-fluid">
    <div class="row">
        <h1>CERTIFICACIONES Y CURSOS</h1>
        <hr class="custom-divider">
        <div class="col-12">
            <ul>
                <li><h2>Certificación y curso 1º</h2></li>
                <h3>Período</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus omnis dolores animi, recusandae,
                    amet
                    ducimus, neque vero error velit accusamus suscipit sapiente aliquam atque rerum fugit ea magni eaque
                    tempora!</p>
                <li><h2>Certificación y curso 2º</h2></li>
                <h3>Período</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus omnis dolores animi, recusandae,
                    amet
                    ducimus, neque vero error velit accusamus suscipit sapiente aliquam atque rerum fugit ea magni eaque
                    tempora!</p>
                <li><h2>Certificación y curso 3º</h2></li>
                <h3>Período</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus omnis dolores animi, recusandae,
                    amet
                    ducimus, neque vero error velit accusamus suscipit sapiente aliquam atque rerum fugit ea magni eaque
                    tempora!</p>
            </ul>
        </div>
    </div>
</div>
